#left-menu
  %h1
    = link_to "LOLSKIN" , root_path
  %input#search-field{type: "text", placeholder: 'Search for a Champion by Name'}/
  %ul#search-result
    %p.information
      This site is a fan site that can search skin of LOL. By searching by the champion name from the above form, it is possible to see the skins of each champion. Please make full use of it.
